body {
    margin: 0;
}
/* 타이틀 */
#checkout_title {
    display: block;
    height: 150px;
    background-color: rgb(27, 31, 35);
    color: white;
    font-size: 50px;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
.checkout_container {
    height: 100%;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: gray; */
}
